@model IEnumerable<FashionShop.Models.formpage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<h1 class="title mb-5">Quản lý pages</h1>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Đường dẫn
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alias)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>
